/* *{
  box-sizing: border-box;
}

.App {
  border:1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  border:1px solid black;
  width:100vw;
  text-align: center;
  padding:10px;


}
.container>input{
  margin-right:10px;
}

.display_list{
  margin:10px;
  border:1px solid blue;
  width:100vw;
  display: flex;
  justify-content: center;
  padding: 10px;
}

 */
