.list{
    border:1px solid black;
    border-radius:20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.listItem{
    display: flex;
    justify-content: space-between;
    margin:10px;
    padding:10px;
}
.listItem>input{
    padding:10px;
    margin:10px;
    width:300px;
    flex:1;
}
.listItem>button{
    margin:10px;
    padding:10px;
}
.listItem>button{
    padding:10px;
    border-radius:10px;
    border:1px solid black;
    background-color: white;
    color:black;
    transition:300ms ease-out;
}
.listItem>button:hover{
    background-color: black;
    color:white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}



